@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 1075px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.swiper-container {
    width: 100%;
    max-width: 950px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.project-card {
    position: relative;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
}

.project-card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #FF676D;
    border-radius: 15px 15px 0 0;
}

.project-card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

.project-card .image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: #FF676D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.project-card .project-details {
    text-align: center;
    margin-bottom: 20px;
}

.project-details .project-name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.project-details .project-type {
    font-size: 14px;
    color: black;
}

.project-card .button {
    background-color: #FF676D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button button {
    background-color: #FF676D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: #FF676D;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: #FF676D;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: #FF676D;
}

@media (max-width: 768px) {
    .swiper-container {
        width: 100%;
        padding: 0 15px;
    }

    .project-card {
        width: 80%;
        height: 400px;
    }

    .project-card .image {
        width: 100px;
        height: 100px;
    }

    .project-card .project-details {
        margin-top: 60px;
    }

    .project-card .project-details .project-name {
        font-size: 16px;
    }

    .project-card .project-details .project-type {
        font-size: 12px;
    }

    .button button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .button {
        margin-top: 70px;
    }
}
